<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Oorb</title>
    <script src="javascripts/Oorb.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <script type="text/javascript">
      var model = <%= @model %>
      var app = Elm.Oorb.fullscreen(model);
    </script>
  </body>

</html>
