$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: auto;
  width: 75%;
  border: 3px primary-color;
  padding: 10px;
  background-color: lightblue;
}

h1 {
  font: 500% $font-stack;
}

.center {
  text-align: center;
}

input {
  width: 50%;
  height: 15px;
  margin: 10px;
}
